html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.video-container {
  position: absolute;
  display: block;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 4rem 6rem;
  gap: 20px;
}